body {
    background: linear-gradient(45deg, #ff00ff, #00ffff);
  }
  
  .galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .single-galeria {
    position: relative;
    width: calc(33.33% - 10px);
    margin-bottom: 20px;
    overflow: hidden;
  }
  
  .img {
    width: 100%;
    height: 200px;
    position: relative;
  }
  
  .img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 8px solid #fff; /* Borda mais grossa */
    box-sizing: border-box;
    transition: transform 0.3s ease;
  }
  
  .img:hover img {
    transform: scale(1.1); /* Efeito de destaque */
  }
  
  .overflow {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .overflow:hover {
    opacity: 1;
  }
  
  h1,
  p {
    margin: 0;
    padding: 0;
  }
  
  h1 {
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  p {
    font-size: 14px;
  }
  
  footer {
    background-color: #ff4081; /* Cor de fundo vibrante */
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  footer a {
    color: #00acc1; /* Cor do link vibrante */
    text-decoration: none;
    font-weight: bold;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  
  @media screen and (max-width: 800px) {
    .single-galeria {
      width: calc(50% - 10px);
    }
  }
  
  @media screen and (max-width: 600px) {
    .single-galeria {
      width: 100%;
    }
  }
  
  /* Resto do código CSS */

#modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
    text-align: center;
    padding-top: 20px;
  }
  
  #modal-image {
    max-height: 90vh;
    max-width: 90%;
  }
  
  #modal .close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
  }
  